@font-face {
	font-family: 'Gochi Hand';
	src: url('gochi-hand/GochiHand-Regular.woff2') format('woff2'), url('gochi-hand/GochiHand-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
