@font-face {
	font-family: 'Gochi Hand';
	src: url('../fonts/gochi-hand/') format('woff2'),
			url('../fonts/gochi-hand/GochiHand-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-text: #ddd;
	--color-background: linear-gradient(to bottom, #181317, #0c0b0b);

	--ease-back-out: cubic-bezier(.295, 1.750, .690, .900);

	--font-stack-common: system-ui, "Segoe UI", helvetica, roboto, Arial, sans-serif;
	--font-stack-heading: "Gochi Hand", var(--font-stack-common);
}

body {
	margin: 0;
	font: 400 16px/1.25 var(--font-stack-common);
	background: var(--color-background);
	color: var(--color-text);
}

.landing {
	min-height: 100dvh;
	display: flex;
	padding: 1rem 4rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 4rem;

	img {
		max-width: 100%;
		vertical-align: top;
	}
}

.title {
	margin: 0;
	font: 400 3rem/1.25 var(--font-stack-heading);
}

.network-links {
	display: flex;
	gap: .75em;
	font-size: 4rem;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: currentColor;
		text-decoration: none;

		&[href="#"] {
			display: none;
		}

		svg {
			width: 1em;
			transition: .35s var(--ease-back-out);
			border: none;
		}

		&:hover {
			svg {
				transform: translateY(-8px);
			}
		}
	}
}